@use '../../../styles/variables' as v;
@use 'sass:color';

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: v.$halfGutter;
  margin: v.$halfGutter auto;
  padding: v.$halfGutter;

  &-logo {
    height: 4rem;
  }

  &-search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    
    background-color: #111725; 
    padding: 0.5rem; 
    border-radius: 1rem;
  }

  &-search-input {
    width: 100%;
    padding: v.$halfGutter;
    border: none;
    background-color: transparent; 
    color: white; 
    font-size: 1rem;
  }
  
  &-search-icon {
    width: 1rem;
    height: 1rem;
    margin-right: v.$halfGutter;
  }

  .header-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: v.$halfGutter;
  }

  .header-button {
    border: 1px solid v.$secondary-color;
    padding: v.$halfGutter;
    border-radius: 0.5rem;
    color: v.$secondary-color;
    background-color: color.scale(v.$primary-color, $lightness: 5%);
    font-size: 1rem;
  }

  .header-button:hover {
    color: v.$primary-color;
    background-color: v.$secondary-color;
  }

  @media (min-width: v.$medium) {
    &-logo {
      height: 6rem;
    }

    &-search-bar {
      width: 50%;
    }

    .header-buttons {
      order: 1;
      font-size: 1.2rem;
    }
  }
}