@use '../../../styles/variables' as v;

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: v.$halfGutter;
	margin: v.$halfGutter 0;

	&-link {
		&:hover {
			color: v.$secondary-color;
		}
	}

	@media (min-width: v.$small) {
		flex-direction: row;
	}
}
