.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: #121214;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	color: #d5dce2;
	position: relative;
	max-width: 400px;
	width: 100%;
}

.modal-button {
	background-color: #5865f2;
	color: #d5dce2;
	font-weight: bold;
	padding: 10px 20px;
	margin-top: 20px;
	margin-right: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.modal-close {
	position: absolute;
	background-color: #121214;
	border: none;
	top: 21px;
	right: 10px;
	width: 30px;
	cursor: pointer;
}

.modal-button:hover {
	background-color: #4752d6;
}

.modal-link {
	color: #9b9d9a;
	font-weight: bold;
	background-color: #121214;
	border: none;
	margin-top: 10px;
	font-size: 13px;
	text-decoration: none;
	cursor: pointer;
}

.modal-link:hover {
	text-decoration: none;
}