@use '../../../styles/variables' as v;

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #121214;
		border-radius: 5px;
		padding: 20px;
		text-align: center;
		color: #d5dce2;
		position: relative;
		max-width: 400px;
		width: 100%;
	}

	&-button {
		background-color: #5865f2;
		color: #d5dce2;
		font-weight: bold;
		padding: 10px 20px;
		margin-top: 20px;
		margin-right: 10px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: #4752d6;
		}
	}

	&-close {
		position: absolute;
		background-color: #121214;
		border: none;
		top: 21px;
		right: 10px;
		width: 30px;
		cursor: pointer;
	}

	&-title {
		font-size: 1.5rem;
		margin-bottom: 20px;
	}

	&-label {
		align-self: flex-start;
		font-size: 1.2rem;
		margin-bottom: v.$halfGutter;
	}

	&-input {
		width: 100%;
		padding: 0.2rem;
		border: 2px solid v.$primary-color;
		border-radius: 0.5rem;
		font-size: 1.2rem;
		font-weight: 700;
		color: v.$primary-color;
		background-color: v.$input-color;
	}
}
