@use 'sass:math';

$small: 700px;
$medium: 1000px;
$large: 1200px;
$gutter: 1.5rem;
$halfGutter: math.div($gutter, 2);
$primary-color: #0e121d;
$secondary-color: #0fd7b0;
$tertiary-color: #A22567;
$input-color: #e8e8e8;
$label-color: #d6d6d6;