@use 'reset';
@use 'variables' as v;

// @font-face {
//   font-family: 'Poppins';
//   src: url('../assets/fonts/Poppins-Regular.ttf');
// }

body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #0e121d;
  color: #fff;
}

h1, h2, h3 {
  font-weight: normal;
}

img {
  max-width: 100%;
}