@use '../../styles/variables' as v;
@use 'sass:color';

.about {
	flex-grow: 1;

	&-title {
		font-family: BebbasNeue;
		width: 40%;
		margin-bottom: v.$gutter;
		padding: v.$halfGutter;
		font-size: 1.8rem;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		color: v.$secondary-color;
		background-color: color.scale(v.$primary-color, $lightness: 5%);
	}

	&-resume {
		width: 90%;
		margin: 0 auto v.$gutter;
		padding: v.$halfGutter;
		text-align: start;
	}

	&-team {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		width: 90%;
		margin: 0 auto;
	}

	@media (max-width: v.$small) {
		&-title {
			width: 100%;
		}

		&-team {
			flex-direction: column;
			align-items: center;
		}
	}
}