@use '../../styles/variables' as v;
@use 'sass:color';

.about {
	
	&-title {
		width: 33%;
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: v.$gutter;
		text-align: center;
		text-transform: uppercase;
		padding: v.$halfGutter;
		background-color: color.scale(v.$primary-color, $lightness: 5%);
		color: v.$secondary-color;
	}

	&-resume {
		width: 90%;
		margin: 0 auto v.$gutter;
		padding: v.$halfGutter;
		text-align: start;
	}

	&-team {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
		width: 90%;
	}
}