@use '../../styles/variables' as v;

.home {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	@media (min-width: v.$medium) {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;

	}
}

.game-list {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem; /* Space between the cards */

	@media (min-width: v.$medium) {
		width: 60%;
	}
}

.load-more {
	align-self: center;
	margin-top: v.$gutter;

	&--button {
		background-color: #0e121d;
		border: 2px solid v.$tertiary-color;
		color: #fa3294;
		padding: 0.5rem 1rem;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;
		font-size: 1.2rem;

		&hover {
			background-color: v.$tertiary-color;
			color: #0e121d;
		}
	}
}
