@use '../../../styles/variables' as v;

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: v.$halfGutter;
	margin: v.$halfGutter 0;
	padding-bottom: v.$halfGutter;

	.footer-text {
		color: #b2b0b5; 
	  }
	
	&-link {
		color: #c4c2c8;
		font-weight: bold;
		transition: color 0.3s ease;
		&:hover {
			color: v.$secondary-color;
		}
	}

	@media (min-width: v.$small) {
		flex-direction: row;
	}

	@media (min-width: v.$large) and (min-width: v.$medium) {
		&.home-footer {
		  margin-left: 20.5rem;
		}
	  }
	} 
