.game-card-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem; /* Space between the cards */
    justify-content: center;
  }
  
  .game-card {
    background-color: #0a0e17;
    border-radius: 8px;
    border: 2px solid #fa3294;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem auto; 
    padding: 1rem;
    color: #a4a5a7;
    // width: calc(50% - 2rem); /* It's supposed to display 2 cards... */
    max-width: 500px; /* Card size */
  }
  
  .game-card img {
    max-width: 100%;
    border-radius: 8px; 
  }
  
  h2 {
    font-weight: bold;
    margin: 0.5rem 0;
  }
  
  p {
    margin: 0.2rem 0;
  }
  