@use '../../styles/variables' as v;

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
  
  &--card {
    //background-color: v.$primary-color;
    background: linear-gradient(to bottom right, #0b1c24, #0a0622);
    border-radius: 10px;
    padding: 1rem 5rem 3rem;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
  }

  &--icon {
    max-width: 170px;
    margin-bottom: 25px;
}
  
  &--title {
    font-size: 24px;
    font-weight: bold;
    color: v.$secondary-color;
    margin-bottom: 20px;
  }
  
  &--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
 &--label {
    font-weight: bold;
    color: v.$secondary-color;
  }
  
  &--value {
    color: gray;
  }
  
  &--button {
    background-color: #5563f7;
    color: #dfdada;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    width: auto;
    border-radius: 5px;
    //cursor: pointer;
    transition: background-color 0.3s;
  }
  
  &--button:hover {
    background-color: #4057d6;
  }


  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: #121214;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: #d5dce2;
    position: relative;
    max-width: 400px;
    width: auto;
  }

  .modal h2 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    color: v.$secondary-color;
    margin-bottom: 15px;
  }

  .modal-close {
    position: absolute;
    background-color: #121214;
    border: none;
    top: 21px;
    right: 10px;
    width: 30px;
    cursor: pointer;
  }

  .modal-close:hover {
    opacity: 0.7;
  }

  .modal-closed {
    position: absolute;
    background-color: #121214;
    border: none;
    top: 15px;
    right: 10px;
    width: 30px;
    cursor: pointer;
  }

  .modal-closed:hover {
    opacity: 0.7;
  }

  .modal input {
    background-color: #2a2a2c;
    color: gray;
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
  }

  .modal-label {
    font-weight: bold;
    color: #9b9d9a;
    text-align: left;
    margin-left: 10px;
  }

  .modal-button {
    background-color: #5865f2;
    color: #d5dce2;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .modal-button:hover {
    background-color: #4752d6;
  }

  .modal-link {
    color: #9b9d9a;
    font-weight: bold;
    background-color: #121214;
    border: none;
    margin-top: 10px;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-link:hover {
    text-decoration: none;
  }

  .window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .window input {
    background-color: #2a2a2c;
    color: gray;
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
  }

  .window-content {
    background-color: #121214;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: #d5dce2;
    position: relative;
    max-width: 400px;
    width: 100%;
  }

  .window h2 {
    font-weight: bold;
    font-size: 18px;
    color: v.$secondary-color;
    margin-bottom: 20px;
  }

  .window-button {
    background-color: #5865f2;
    color: #d5dce2;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .window-button:hover {
    background-color: #4752d6;
  }

  .window-link {
    color: #9b9d9a;
    font-weight: bold;
    background-color: #121214;
    border: none;
    margin-top: 10px;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
  }

  .window-link:hover {
    text-decoration: none;
  }

  .error-text {
    text-align: justify;
    color: rgb(138, 131, 131);
    font-size: 10px;
    margin-top: 5px;
  }
  
}

.success-modal {
  background-color: #121214;

}

.success-message {
  font-weight: bold;
  color: #0fd7b0;
}

.window input {
  background-color: #2a2a2c;
  color: gray;
  border: none;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

.error-text-password {
  text-align: center;
  color: gray;
  font-size: 10px;
  margin-top: 5px;
}


