@use '../../../styles/variables' as v;
@use 'sass:color';

.header {
	width: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: v.$halfGutter;
	margin: v.$halfGutter auto;
	padding: v.$halfGutter;
	&-logo {
		height: 4rem;
	}

	&-buttons {
		align-self: center;
		margin-left: auto;
		display: flex;
		gap: v.$halfGutter;
	}

	&-button {
		border: 1px solid v.$secondary-color;
		padding: v.$halfGutter;
		// border: none;
		border-radius: 0.5rem;
		color: v.$secondary-color;
		background-color: color.scale(v.$primary-color, $lightness: 5%);
		font-size: 1.2rem;
	}

	&-button:hover {
		color: v.$primary-color;
		background-color: v.$secondary-color;
	}

	@media (min-width: v.$small) {
		&-logo {
			height: 6rem;
		}
	}
}